/* Path: app/globals.css */
:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  background: #f7f7f8;
  color: #111;
}

main {
  width: 100%;
}

a {
  color: inherit;
}

input,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

code,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
